@model List<BookTypeModel>




<div class="m-0 p-0">
    <form method="post">
        @Html.AntiForgeryToken()
        <div class="row m-0 p-0">
            @foreach (var typeBook in Model)
            {
                
                <div class="col mb-3">
                    <a class="p-0 m-0" href="/newbook/settings/@typeBook.BookTypeId">
                        <div class="flex-wrap align-items-center type_book_card pt-4">
                            <div class="d-flex flex-wrap align-items-center px-2 px-lg-4 m-0">
                                <div class="form__label w-100 text-center border-bottom pb-4 ">
                                    @typeBook.Title
                                </div>
                                <div class="form__label w-100 text-center mb-auto">
                                    @typeBook.Description
                                </div>
                            </div>
                        </div>
                    </a>
                    
                </div>
            }
        </div>
    </form>

</div>
