@model BookViewModel


<div>
    <form>
        @Html.AntiForgeryToken()

        <div class="md-3">
            privacy
        </div>

        <div class="md-3">
        </div>

        <div class="md-3">
        </div>

        <div class="md-3">
        </div>


        <button class="btn_dark">Сохранить книгу</button>
    </form>
</div>
