<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LiteraFlow</title>

    @* default bootstrap *@
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    

    
</head>
<body class="px-2 px-sm-5">   
    
    <!-- HEADER_BLOCK -->
   
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

            <ul class="nav me-lg-auto">
                <li class="nav-item">
                    <a class="nav-link ps-0" href="/">Litera Flow</a>
                </li>
            </ul>

            <ul class="nav flex-wrap justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Что это?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Категории</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Блоги</a>
                    </li>
                    @await Component.InvokeAsync("MainMenu")
                </ul>
        </header>
   
    
        


    <main class="container-fluid pb-3 px-5" role="main">
        @RenderBody()
    </main>
        

    <footer class="border-top footer text-muted">
            <div class="footer">
                &copy; 2023 - LiteraFlow - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
