@model LoginViewModel


<div class="d-flex flex-wrap justify-content-center">
    <form method="post" class="auth_form">
        @Html.AntiForgeryToken()


        <div class="mb-3">
            <label class="form__label me-auto">Почта</label>
            <input class="form__input" name="Email" type="text" value="@Model.Email" />
            <div class="form__error_label">@Html.ValidationMessageFor(m => m.Email)</div>
        </div>
        <div class="mb-3">
            <label class="form__label">Пароль</label>
            <input class="form__input" name="Password" type="password" />
            <div class="form__error_label">@Html.ValidationMessageFor(m => m.Password)</div>
        </div>
        <div class="mb-3">
            
            <input class="check_box_main" name="RememberMe" id="rememberme" type="checkbox" value="true" />
            <label class="form__label" for="rememberme">Запомнить вход?</label>
        </div>

       
        <div class="d-flex justify-content-end">
            <button class="btn_dark">Войти</button>
        </div>
    </form>
</div>