@model bool
@if (Model)
{
    <li class="nav-item">
        <a class="nav-link" href="/profile">Мой профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/mybooks">Мои книги</a>
    </li>
    <li class="nav-item">
        <a class="nav-link pe-0" asp-action="exit" asp-controller="Profile">Выйти</a>
    </li>
}
else
{
    <li clas="nav-item">
        <a class="nav-link" href="/registration">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link pe-0" href="/login">Войти</a>
    </li>
}