:root {
    --main-color: #E6DCB9;
    --second-color: #62897A;
    --tertiary-color: #333841;
    --danger-color: #F2162B;
    --light-color: #EEEEEE;
    --dark-color: #181818;
    --main-color-darker: #CDC287;

    --border-radius-def: 0.5rem;
}

html {
    font-size: 18px;
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/*@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}
*/

body {
    font-family: 'Literata Book', sans-serif !important;
    margin-bottom: 60px;
}

/*#region Custom Scrollbar */

/*Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-color) var(--main-color);
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--main-color);/* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color); 
    border-radius: 5px; 
    border: 2px solid var(--dark-color); 
}


/*#endregion */


/*#region Forms*/


.form__input {
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    padding: 0.375rem 0.75rem;
    width: 100%;
    border: none;
    border-radius: var(--border-radius-def);
    background-color: transparent;
    outline: 2px solid var(--dark-color);
    transition: 0.3s;
}

.form__input:focus {
    outline: 2px solid var(--second-color);
}

.form__label {
    padding-left: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    padding-bottom: 1px;
}

.reg_form, auth_form {
    width: 375px;
}

.form__error_label {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    color: var(--danger-color);
}

.booksettings_form{
    width:400px;
}

.form__p{
    font-size: 1rem;
    font-weight: 600;
    height: 10rem;
    padding: 0.375rem 0.75rem;
    width: 100%;
    border: none;
    border-radius: var(--border-radius-def);
    background-color: transparent;
    outline: 2px solid var(--dark-color);
    transition: 0.3s;
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
/*#endregion */


/*#region Buttons*/


.btn_dark {
    font-size: 1rem;
    background-color: var(--dark-color);
    color: var(--main-color);
    border: solid 2px var(--dark-color);
    outline: none;
    border-radius: var(--border-radius-def);
    padding: 0.6rem 2rem;
    cursor: pointer;
    transition: 0.2s;
}

.btn_dark:focus{    
     box-shadow: 0 0 0.1rem 0.1rem var(--dark-color);
}


.btn_dark:hover {
    font-size: 1rem;
    background-color: var(--main-color);
    color: var(--dark-color);
    border: solid 2px var(--dark-color);
    outline: none;
    border-radius: 0.75rem;
    padding: 0.6rem 2rem;
    cursor: pointer;
    transition: 0.1s;
}

.btn_dark:active {
    transform: scale(0.99);
    font-size: 1.0rem;
    background-color: var(--tertiary-color);
    color: var(--main-color);
    border: solid 2px var(--dark-color);
    outline: none;
    border-radius: 0.75rem;
    padding: 0.6rem 2rem;
    cursor: pointer;
    transition: 0.2s;
}

.btn_light {
    font-size: 1rem;
    background-color: var(--main-color);
    color: var(--dark-color);
    border: solid 2px var(--dark-color);
    outline: none;
    border-radius: var(--border-radius-def);
    padding: 0.6rem 2rem;
    cursor: pointer;
    transition: 0.2s;
}

.btn_light:focus{    
     box-shadow: 0 0 0.1rem 0.1rem var(--dark-color);
}

.btn_light:hover {
    font-size: 1rem;
    background-color: var(--dark-color);
    color: var(--main-color);
    border: solid 2px var(--dark-color);
    outline: none;
    border-radius: 0.75rem;
    padding: 0.6rem 2rem;
    cursor: pointer;
    transition: 0.1s;
}

.btn_light:active {
    transform: scale(0.99);
    font-size: 1.0rem;
    background-color: var(--tertiary-color);
    color: var(--dark-color);
    border: none;
    outline: 2px solid var(--dark-color);
    border-radius: 0.75rem;
    padding: 0.6rem 2rem;
    cursor: pointer;
    transition: 0.2s;
}


/*#endregion */


/*#region CheckBox */


.check_box_main {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.check_box_main + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

.check_box_main + label::before {
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid var(--dark-color);
    border-radius: 0.25em;
    margin-right: 0.5em;
    transition: 0.2s;
}

.check_box_main:checked + label::before {
        background-color: var(--dark-color);
    }

/* стили при наведении курсора на checkbox */
.check_box_main:not(:disabled):not(:checked) + label:hover::before {
        border-color: var(--second-color);
    }
/* стили для активного состояния чекбокса (при нажатии на него) */
.check_box_main:not(:disabled):active + label::before {
        background-color: var(--main-color-darker);
    }

/* стили для чекбокса, находящегося в состоянии disabled */
.check_box_main:disabled + label::before {
        background-color: var(--main-color-darker);
    }


/*#endregion */


/*#region Input File */

.input-file {
	position: relative;
	display: inline-block;
}

.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	border: 2px solid var(--dark-color);
    outline: none;
	text-decoration: none;
	vertical-align: middle;
	color: var(--dark-color);
	text-align: center;
	border-radius: var(--border-radius-def);
	background-color: var(--main-color);
	padding: 0.6rem 2rem;
	box-sizing: border-box;
	margin: 0;
	transition: 0.2s;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
.input-file input[type=file]:focus + span {
    border: 2px solid var(--second-color);
}

.input-file:hover span {
	background-color: var(--dark-color);
	color: var(--main-color);
	transform: scale(0.99);
}

.input-file:active span {
	background-color: var(--tertiary-color);
}
 
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

/*#endregion */


/*#region Book Cards*/


.type_book_card {
    background-color: var(--second-color);
    width: 100%;
    border: 1px solid var(--dark-color);
    border-radius: var(--border-radius-def);
    height: 10rem;
    transition: 0.2s;
}

    .type_book_card:hover {
        background-color: var(--main-color);
        box-shadow: var(--dark-color) 2px 2px 10px;
        transform: scale(1.01);
    }

.book__card {
    width: 200px;
    padding: 5px;
}


.book__card_image {
    margin: 0px;
    padding: 0px;
}


/*#endregion */


.chapter_redactor{
    width: 100%;
    height: 200px;
    border: 2px solid var(--dark-color);
    border-radius: var(--border-radius-def);
    background-color:var(--light-color);
}

/*#region Custom Selector */

.selector{
    height:2.5rem;
    cursor: pointer;
    width: auto;
    background-color:var(--light-color);
    border: 2px solid var(--dark-color);
    border-radius: var(--border-radius-def);
    transition: border-color 0.3s;
}

/*#endregion */

.success_alert{

}