@model bool
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <div>
        @if (Model)
        {
            <div>Профиль есть</div>
        }
        else
        {
            <div>Профиля нет</div>
        }
        
    </div>
</div>
