@model bool
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <div>
        @if (Model)
        {
            <div>Профиль есть</div>
            <i class="fa fa-thumbs-o-up text-black" aria-hidden="true"></i>
        }
        else
        {
            <div>Профиля нет</div>
        }
        
    </div>

</div>

