@model List<BookViewModel>


<div class="container">
    <div>
        <a href="/newbook/basic">
            <button class="btn_dark" >+</button>
        </a>
        
    </div>
    <div class="books">
        @foreach (var book in Model)
        {
            <div>@book.Title</div>
            <div>@book.Description</div>
        }
    </div>
</div>
