@model List<BookViewModel>


<div class="container">
    <div>
        @* <a href="/newbook/basic">
             <button class="btn_dark" >+</button>
         </a> *@
        
    </div>
    <div class="books_block d-flex flex-wrap justify-content-center">
         @foreach (var book in Model)
        {
            <div class="book__card bg-secondary w-100 row p-0 m-0 mb-2 d-flex">

                <div class="p-0 m-0 w-auto">
                    <img class="book__card_image" src="/images/mock/default_book_pic.jpg" alt="">
                </div>

                <div class="col p-0 m-0">
                    <label class="book__card_title w-100">@book.Title</label>
                    <label>@book.Description</label>
                </div>
                    
                    
                
            </div>         
        } 
        

    </div>
</div>
